@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Oswald:wght@300&family=Roboto+Serif:ital,wght@0,300;1,100&family=Roboto:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: rgb(214, 190, 51);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    background-image:linear-gradient(rgb(214, 190, 51), rgb(121, 106, 23));
}

.navbar .logo {
    width: 60px;
    grid-column: 2 / 3;
    cursor: pointer;
}

.navbar .menu {
    grid-column: 3 / 6;
    display: flex;
    justify-content: space-around;
    
}

.navbar .menu li{
    list-style: none;
    position: relative;
}

.navbar .menu li::before{
    content: "";
    height: 3px;
    width: 0%;
    background: #181818;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.4s ease-out;
}

.navbar .menu li:hover::before{
    width: 100%;
}

.navbar .menu a{
    text-decoration: none;
    color: #181818;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

.navbar .menu-bar {
    display: none;
}

/* SECTION MAIN */

.hero {
    height: 90vh;
    background-image: linear-gradient(rgba(16, 16,16, .3), rgba(16, 16,16, .4)), url(../img/Messi\ arg.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);
}

.hero .info-content {
    grid-column: 7 / 10;
    grid-row: 3 / 7;
    color: aliceblue;
}

.hero h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

.hero h1 {
    font-size: 5em;
    color: rgb(214, 190, 51);
}

.hero .btn {
    font-size: 1em;
    background: none;
    color: aliceblue;
    padding: 10px 20px;
    border: 1px solid rgb(214, 190, 51);
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.hero .btn:hover {
    background-color: rgb(214, 190, 51);
    color: #181818;
}

/* SECTION FOOTER */

footer {
    background-color: #181818;
}

footer p {
    color: rgb(214, 190, 51);
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: rgb(214, 190, 51);
}

/* Pagina Historia */
/* HEADER */

.body_historia {
    background-color: rgb(214, 190, 51);
}

.historia {
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(4, 1fr);
}

.historia > .historia_item,
.historia > .content,
.historia > .sidebar {
    background: #fff;
    padding: 20px;
    border: 1px solid #181818;
}

.historia > .historia_item,
.historia > .sidebar {
    background: #1e272e;
    color: #fff;
}


/* Pagina Distinciones Individuales */

.body4 {
    background-image: linear-gradient(rgba(16, 16,16, .3), rgba(16, 16,16, .4)), url(../img/messi\ balones.jpg);
    background-size: cover;
    max-width: 100%;
}

.col {
    background: rgba(243, 239, 239, 0.6);
    padding: 0.5em 20em;
}

.distinciones__items {
    text-align: center;
    color: #1e272e;
    font-family: 'Roboto Serif', serif;
    margin: 12px 0;
}

.container {
    padding: 1.5em 4em;
}
