/* HEADER & NAVBAR*/

.navbar {
    font-size: 18px;
    font-family: $font-secondary;
    background-color: $principal;
    align-items: center;
    background-image:linear-gradient($principal, $tertiary );
    
}
.navbar .menu li:hover::before{
    width: 100%;
}