.img-1 {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url(../img/infancia1.jpg);
}
.img-2 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-image: url(../img/infancia2.jpg);
}
.img-3 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-image: url(../img/infancia3.jpg);
}

main {
    max-width: 1080px;
    margin: 0 auto;
    .main-items {
        @include flex(row, space-between, center, map-get($spacings, medium));
    }
}