/* Pagina Distinciones Individuales */

.body4 {
    background-image: linear-gradient($seventh, $seventh), url(../img/messibalones.jpg);
    background-size: cover;
    max-width: 100%;
}

.col {
    background: $eighth;
    padding: 0.5em 20em;
}

.distinciones__items {
    text-align: center;
    color: #1e272e;
    font-family: 'Roboto Serif', serif;
    margin: 12px 0;
}

.container {
    padding: 1.5em 4em;
}
/* MEDIAQUERIES */
@media only screen and (max-width: 840px) {
    .col {
        background: $eighth;
        padding: 0em 1em;
    }
}