/* SECTION MAIN */

.hero {
    height: 90vh;
    background-image: linear-gradient($fifth, $sixth), url(../img/Messiarg.jpg);
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);
    & .info-content {
        grid-column: 7 / 10;
        grid-row: 3 / 7;
        color: $fourth;
    }
    & h3 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
        font-weight: 300;
    }
    & h1 {
        font-size: 5em;
        color: $principal;
    }
    & p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
    }
    & .boton-bio:hover {
        background-color: #fff;
        color: $secondary;
    }
    .boton-bio {
        padding: 10px 20px;
        background-color: $principal;
        border: none;
        border-radius: 20px;
        box-shadow: 1px 3px 11px -5px rgba(202, 202, 36, .69);
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1em;
}
.element1 {
    grid-row: 1/3;
    padding: 1em;
    background: #2e3b58;
    text-align: center;
    background-image: url(../img/leoclermont1.jpeg);
    background-size: cover;
    color: #fff;
}
.nested-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
    background-size: cover;
    background: #2e3b58;
    align-items: center;
    color: #fff;
}

@media only screen and (max-width: 700px) {
    /* SECTION MAIN */

    .hero .info-content {
      grid-column: 2 / 10;
      grid-row: 4 / 8;
    }

    .hero h1 {
      font-size: 3.5em;
    }
  }