/* Variables */
$principal: #d6be33;
$secondary: #181818;
$tertiary: #796a17;
$fourth: aliceblue;
$fifth: rgba(16, 16,16, .3);
$sixth: rgba(16, 16,16, .4);
$seventh: rgba(16, 16,16, .2);
$eighth: rgba(243, 239, 239, 0.7);
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;


